.setAppointment {
  padding-top: 80px;
}
/* DISEÑO RESPONSIVE */
@media only screen and (max-width: 768px) {
  body {
    padding: 0;
  }
  form {
    width: 95%;
    height: 95%;
    gap: 30px;
    box-shadow: none;
  }
  h3 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}
